{% extends 'layout/base.html' %}

{% block content %}
<main class="container">
    <div class="login-container">
        <h1>Register</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form method="post" action="register">
            <div class="input-group">
                <label for="name">Full name</label>
                <input type="name" id="name" name="name" required placeholder="Full name">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required placeholder="Email">
            </div>
            <div class="input-group">
                <label for="nationality">Nationality</label>
                <input list="nationality-options" id="nationality" name="nationality"
                       placeholder="Choose or type your nationality" required>
                <datalist id="nationality-options">
                    <option value="Vietnam">
                    <option value="USA">
                    <option value="United Kingdom">
                    <option value="Japan">
                    <option value="Other">
                </datalist>
            </div>
            <div class="input-group">
                <label for="identifier">Identification Number</label>
                <input type="text" id="identifier" name="identifier" placeholder="Enter ID card/passport number"
                       required>
            </div>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder='Username'>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Password">
            </div>

            <div class="input-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required
                       placeholder="Confirm Password">
            </div>
            <!--            <div class="input-group">-->
            <!--                <label for="avatar">Upload Avatar</label>-->
            <!--                <input type="file" id="avatar" name="avatar" accept="image/*" required>-->
            <!--            </div>-->
            <div class="input-group checkbox-group">
                <input type="checkbox" id="terms" name="terms" required>
                <label for="terms">I accept the <a href="#">terms and conditions</a></label>
            </div>
            <div class="actions">
                <button type="submit">Register</button>
                <a href="/login">You have a account?</a>
            </div>
        </form>
    </div>
</main>

{% endblock %}