{% extends 'admin/master.html' %}

{% block body %}


{% if current_user.is_authenticated %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
 <style>
    #welcomeMessage {
        opacity: 0; /* Ban đầu ẩn */
        transform: translateY(-20px); /* Trượt lên */
        max-height: 0; /* Chiều cao ban đầu là 0 */
        overflow: hidden; /* Ẩn nội dung thừa */
        transition: transform 1s ease, opacity 1s ease, max-height 1s ease; /* Hiệu ứng trượt, mờ và chiều cao */
    }
    #welcomeMessage.visible {
        display: block; /* Hiển thị lại phần tử */
        opacity: 1; /* Hiện rõ */
        transform: translateY(0); /* Vị trí ban đầu */
        max-height: 100px; /* Đặt chiều cao phù hợp */
    }
    #welcomeMessage.hidden {
        opacity: 0; /* Mờ dần */
        transform: translateY(-20px); /* Trượt lên */
        max-height: 0; /* Thu nhỏ chiều cao về 0 */
        pointer-events: none; /* Ngăn người dùng tương tác */
    }

  </style>
<div class="container">
    <div id="welcomeMessage" >
    <h1 class="text-primary">Dashboard - Admin</h1>
    <h2 class="text-secondary">Chào mừng {{ current_user.username }} đến với giao diện quản lý!</h2>
</div>


<div class="row">
    <div class="col-md-9 text-white p-3 ">
        <div class="row">
            <div class="col-md-5 mb-4">
                <h3 class="text-center m-auto text-secondary h6"> Biểu đồ: Công suất phòng hiện tại</h3>
                <canvas id="roomCapacityChart"></canvas>
            </div>
            <div class="col-md-7 mb-4">
                <h3 class="text-center m-auto pb-2  text-secondary h6">Bảng thống kê: Số khách hiện có trong phòng</h3>

                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Room </th>
                        <th>Rooom Name</th>
                        <th>Number of Guests</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in room_guest_counts %}
                    <tr>
                        <td>{{ data[0]}}</td>
                        <td>{{ data[1]}}</td>
                        <td>{{ data[2]}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
                <canvas id="usageChart"></canvas>
 <h3 class="text-center m-auto text-secondary h6"> Biểu đồ: Công suất phòng tháng này</h3>
        </div>
    </div>
        <div class="col-md-3 bg-light p-3">
            <!-- Khu vực 25% -->
            <h6 class="fw-bold "><strong class="text-dark-50">CÁC HOẠT ĐỘNG GẦN ĐÂY</strong></h6>
            <div class="timeline">
                {% for bill in bill_recent_activities %}
                <div class="timeline-item mb-2">
                    <i class="icon bi bi-clipboard"></i>
                    <strong class="text-primary">{{ bill.booking_room.staff.name }}</strong>vừa tạo hóa đơn với<br> giá trị <strong class="text-success">{{
                    "{:,.0f}".format(bill.total_amount) }}</strong><br>
                    <small class="text-muted">
                        {{bill.issue_date }}
                    </small>
                </div>
                {% endfor %}
            </div>
        </div>
</div>
</div>
</div>



{% else %}
<h2 class="text-success text-center mt-1">ĐĂNG NHẬP QUẢN TRỊ</h2>
<form method="post" action="/login-admin">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username"/>
        <label for="username">Tên đăng nhập</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password"/>
        <label for="password">Mật khẩu</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <button class="btn btn-info">Đăng nhập</button>
    </div>
</form>
{% endif %}
<!-- Thư viện Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Dữ liệu công suất phòng
    const roomCapacityData = {
        datasets: [{
            data: [{{ data['total'] | default(0) - data['available'] | default(0) }},
                   {{ data['available'] | default(0) }}],
            backgroundColor: ['#4caf50', '#ff9800'],
        }],
        labels: ['Đang có khách', 'Đang trống'],
    };

    // Vẽ biểu đồ doughnut công suất phòng
    const ctxRoomCapacity = document.getElementById('roomCapacityChart').getContext('2d');
    new Chart(ctxRoomCapacity, {
        type: 'doughnut',
        data: roomCapacityData,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
            },
        },
    });


    let data = [];
    let labels = [];
    {% for r in room_capacity %}
    data.push({{ r[1]/total_room*100}});
    labels.push('{{ r[0] }}')
    {% endfor %}
    const usageData = {
        labels: labels, // Thay bằng dữ liệu thực nếu có
        datasets: [{
            label: 'Công suất phòng (%)',
            data: data,
            borderColor: 'rgba(75, 192, 192, 1)',
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            tension: 0.4,
        }],
    };

    const ctxUsage = document.getElementById('usageChart').getContext('2d');
    new Chart(ctxUsage, {
        type: 'line',
        data: usageData,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
            },
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Công suất (%)'
                    },
                },
                x: {
                    title: {
                        display: true,
                        text: 'Ngày',
                    },
                },
            },
        },
    });
 document.addEventListener("DOMContentLoaded", function () {
        const welcomeMessage = document.getElementById("welcomeMessage");

        // Hiển thị thông báo với hiệu ứng
        if (welcomeMessage) {
            setTimeout(function () {
                welcomeMessage.style.display = "block"; // Hiển thị phần tử
                welcomeMessage.classList.add("visible"); // Thêm class 'visible' để hiện hiệu ứng
            }, 100); // Đợi 500ms sau khi tải trang

            // Ẩn thông báo sau 5 giây
            setTimeout(function () {
                welcomeMessage.classList.remove("visible");
                welcomeMessage.classList.add("hidden"); // Thêm class 'hidden' để kích hoạt hiệu ứng ẩn
            }, 3500); // 5 giây + 500ms

            // Đặt display: none sau khi hiệu ứng kết thúc
            setTimeout(function () {
                welcomeMessage.style.display = "none"; // Ẩn hoàn toàn phần tử
            }, 4100); // Thời gian hiệu ứng (1 giây) + ẩn
        }
    });
    window.onload = function() {
        let dates = document.getElementsByClassName("text-muted");
        for (let d of dates)
            d.innerText = moment(d.innerText).locale("en").fromNow();
    }
</script>
{% endblock %}